<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives</b>
<ul>
    <li>Listing popular languages used in Data Science</li>
    <li>Listing popular libraries used in Data Science</li>
    <li>Using some basic arithmetic expressions in Python</li>
</ul>

Some of the popular languages used in Data Science are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
</ol>

Some of the commonly libraries used by Data Scientists are:
<ol>
    <li>Pandas</li>
    <li>NumPy</li>
    <li>Matplotlib</li>
    <li>Seaborn</li>
</ol>

Data Science Tools:
<tr>
    <td>Python</td>
    <td>R</td>
    <td>SQL</td>

### Below are a few examples of using arithmetic expressions in Python

In [1]:
###This is simple example to multiply and then add numbers###
(3*4)+5

17

In [3]:
###Expression to convert minutes to hours by dividing given number of minutes by 60###
200/60

3.3333333333333335